<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<h1>Entre com o seu usuário</h1>
	
	<form th:action="@{/cadastro}" method="post" th:object="${usuario}">
	
		Nome:<input type="text" th:field="*{nome}"> <br>
		E-mail:<input type="text" th:field="*{email}"> <br> 
		Endereço:<input type="text" th:field="*{endereco}"> <br>
		Senha:<input type="password" th:field="*{senha}"> <br> 
		
		<input type="submit" value="Cadastrar">
		<a th:href="@{/login}" >Login</a>
		
	
	</form>
</body>
</html>
